NGNIX_CRT_FILE=/run/secrets/ngnix_crt
NGNIX_KEY_FILE=/run/secrets/ngnix_key

DB_NAME=yourDatabaseName
DB_USER=yourUserName

# This file is where secrets will be saved. You can run `make setup`
# and it will set everything up automatically, or you can create
# the files manually. In that case, you can see them in the
# secrets section:
# secrets:
#   db_password:
#     file: ./secrets/db_password.txt
#   db_admin_user:
#     file: ./secrets/db_admin_user.txt
#   db_admin_password:
#     file: ./secrets/db_admin_password.txt

# Folders /run/secrets is inside of docker container
# you don't need to change them

DB_PASSWORD_FILE=/run/secrets/db_password
DB_ADMIN_USER_FILE=/run/secrets/db_admin_user
DB_ADMIN_PASSWORD_FILE=/run/secrets/db_admin_password

DB_HOST=mariadb